.nav {
  display: flex;
  gap: 10px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: red;
}

.header {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
}
